nav {
    background-color: #8e8e8e;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    text-decoration: none;
    color: #fafafa;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
    gap: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fafafa;
    font-weight: bold;
    transition: 0.3s ;
    padding: 2px 5px;
    border-radius: 4px;
  }
  
  .nav-link:hover {
    background-color: rgba(0,0,0,0.15);

  }
  